<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PasswordTextField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B060E0B71F501F5E00A0812F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B060E0D01F501F5E00A0812F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B060E0DB1F501F5E00A0812F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
